.nav {
    @include full-width;
    display: flex;
    justify-content: space-around;
    background-color: $primary-background;
    font-size: $Font-lg;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0px;
    text-align: left;
    position: absolute;
    top: 0;
    float: left;
    margin: 0 0 3em 0;
    padding: 0;
    list-style: none;
    background-color: $primary-background;
    border-bottom: $border-style;
    border-top: $border-style;
    
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        flex-direction: row;
        flex-wrap: nowrap;
        &:focus {
            background-color: $focus-color;
        }
        
        li {
            display: inline;
            margin: 0;
            padding: 25px;
        
        }
    
    }
}