@use 'nav';
@use 'button';
@use 'card';

$primary-background: #00FFDD;
$h1-color: #0E185F;
$hover-color: #2FA4FF;
$Font-lg: 20px;
$Font-md: 30px;
$Font-sm: 20px;
$border-style: 7px solid #00FFDD; 
$font-header: 'Roboto', sans-serif;
$font-timer: 'Work Sans', sans-serif;
$focus-color: red;
@mixin full-width {
  width: 100%;
}
    
*      {
    box-sizing: border-box;
    background-color: $primary-background;
    
    padding: 0;
}
h1 {
    font-family: $font-header;
    margin-top: 50px;
    text-align: center;
    color: $h1-color;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}

@mixin full-height {
    height: 100vh;
}
    

body {
    @include full-height;
    // height: 100vh;
   
    background-color: $primary-background;
}

.board {
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    width: 700px;
    margin: auto;
   
}


#timerDiv {
    
    display: flex;
    justify-content: center;
    height: 10px;
    font-size: $Font-lg;
    font-style: $font-timer;

    
}