*      {
    box-sizing: border-box;
    background-color: white;
    padding: 0;
}
h1 {
    text-align: center;
    color: red;
    
}
body {
    height: 100vh;
    
}

.board {
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    width: 700px;
    margin: auto;
   
}
    

.card {
    width: 25%;
    height: 33.33%;
    position: relative;


    
   
}


.cardFace, 
.back {
    position: absolute;
    
   
}

.flip {
    display: none;
}

img {
    position: fixed;
}