*      {
    box-sizing: border-box;
    background-color: #00FFDD;
    padding: 0;
}
h1 {
    text-align: center;
    color: #0E185F
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
body {
    height: 100vh;
    background-color: #00FFDD;
}

.board {
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    width: 700px;
    margin: auto;
    background-color: #00FFDD;
   
}
button {
    display: inline-block;
    background-color: #0E185F;
    border-radius: 360px;
    color: #a3a3a3
    border: 4px double  ;
    color: #E8FFC2;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 1s;
  }
  button:hover {
    background-color: #2FA4FF;
  }
    

.card {
    width: 25%;
    height: 33.33%;
    position: relative;
}


.cardFace, 
.back {
    position: absolute;
}

.flip {
    display: none;
}

#timerDiv {
    display: flex;
    justify-content: center;

}